#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                       &kp R  &kp S  &kp N   &kp I    &kp I    &kp N  &kp S  &kp R  
                       &kp A  &kp O  &kp T   &kp E    &kp E    &kp T  &kp O  &kp A  
                                     &kp SPC &kp BSPC &kp BSPC &kp SPC
                &kp N1 &kp N2 &kp N3 &kp N4  &kp N5   &kp N5   &kp N4 &kp N3 &kp N2 &kp N1
                /*  LD     LB     LF     LU      LI       RI       RU     RF     RB     RD */
                >;
        };
    };
};
